<!-- 
The SPA (Single Page Application).  
Wraps the other pages which will get loaded in as different views.
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/app.css">
</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
<nav class='navbar navbar-default'>
  <div class='container'>
    <ul class='nav navbar-nav'>
      <li><a href="/#/">Dog List</a></li>
      <!-- The class attribute allows the Selenium test to click the button -->
      <li><a class='createDog' href="/#/createDog">Add New Dog</a></li>
      <li><a class='exportWalks' href="/#/exportWalks">Export Walks</a></li>
      <li><a href="/#/login">Login</a></li>
    </ul>
    <p ng-if='currentUser' class="navbar-text navbar-right">
      Signed in as {{currentUser.username}}
    </p>
  </div>
</nav>

<div ng-view></div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js'></script>
  
  <!-- For date formatting in the edit dog/walks section-->
  <script src="http:////cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>  
    
  <!-- Angular code is stored in assets/app.js -->
  <script src='/app.js'></script>
</body>
</html>