
 

<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}
</style>

<div  class='container'>
		
       <img  ng-src="{{dog.dogPicture}}" alt="">
       
        <div class="form-group">
	      <label>Dog Name: </label>
	     <label>{{dog.dogName}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog DOB: </label>
	     <label>{{dog.dogDOB  | date:mediumDate}}</label>
	    </div>
	    <div class="form-group">
	      <label>Owner First Name: </label>
	     <label>{{dog.ownerFirstName}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog Last Name: </label>
	     <label>{{dog.ownerLastName}}</label>
	    </div>
	     <div class="form-group">
	      <label>Dog Start Date: </label>
	     <label>{{dog.dogStartDate | date:mediumDate}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog ID: </label>
	     <label>{{dog._id}}</label>
	    </div>
	    
	    <table cellpadding="5" border="3" style="width:100%">
	    	<tr>
	    		<td><h5>Walk Date</h5></td>
	    		<td><h5>Time Walk Took (Minutes)</h5></td>
	    		<td><h5>Remove</h5></td>
	    	</tr>
	    	<tr ng-style="getRowColour()" ng-repeat='n in dog.walks.walkArray'>
	    		
	    		<!-- moment stuff to get date formatting to work when bound to date object in the walk -->	
	    		<td><input type="text"  class="datepicker" ng-model="n.walkDate" mo-date-input="DD-MMM-YYYY"/></td>
	    		    		
	    		<td>{{n.walkTime}}</td>
	    		<td><button class="remove" ng-click="removeWalk($index)">-</button></td>
	    	</tr>
	    </table>
	    
	    <button  class='btn btn-lg' ng-click="addNewWalk()">Add New Walk</button>
	    <button ng-show="hasUpdatedWalk()" class='btn btn-lg' ng-click="saveWalks()">Save Walks</button>
	
	    
	   <br>
	   <br>
	   <br>
	   <br>
	    <a class='btn btn-lg' href="/#/deleteDog?dogId={{ dog._id }}"> Delete Dog</a>
      
 </div>
 
 