
 

<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}
</style>

<div  class='container'>
		
       <img  ng-src="{{dog.dogPicture}}" alt="">
       
	  	<div class="form-group">
	      <label>Dog Name: </label>
	     <label>{{dog.dogName}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog Breed: </label>
	     <label>{{dog.dogBreed}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog DOB: </label>
	     <label>{{dog.dogDOB  | date:mediumDate}}</label>
	    </div>
	    <div class="form-group">
	      <label>Owner First Name: </label>
	     <label>{{dog.ownerFirstName}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog Last Name: </label>
	     <label>{{dog.ownerLastName}}</label>
	    </div>
	     <div class="form-group">
	      <label>Dog Start Date: </label>
	     <label>{{dog.dogStartDate | date:mediumDate}}</label>
	    </div>
	    <div class="form-group">
	      <label>Hourly Rate: £</label>
	     <label>{{dog.hourlyRate}}</label>
	    </div>
	    <div class="form-group">
	      <label>Dog ID: </label>
	     <label>{{dog._id}}</label>
	    </div>
	    <a class='btn btn-sm' href="/#/editDogDetails?dogName={{ dog.dogName }}">Edit Dog Details</a>
	    <br>
	    <br>
	    
	    <table cellpadding="5" border="3" style="width:100%">
	    	<tr>
	    		<td><h5>Walk Date</h5></td>
	    		<td><h5>Time Walk Took (Minutes)</h5></td>
	    		<td><h5>Current Hourly Rate</h5></td>
	    		<td><h5>Remove</h5></td>
	    	</tr>
	    	<tr ng-style="getRowColour()" ng-repeat="n in dog.walks.walkArray | pagination: curPage * pageSize | limitTo: pageSize"> 
	    		
	    		<!-- moment stuff to get date formatting to work when bound to date object in the walk -->	
	    		<td><input type="text"  class="datepicker" ng-model="n.walkDate" mo-date-input="DD-MMM-YYYY"/></td>
	    		    		
	    		<td><input type="text" ng-model="n.walkTime"/></td>
	    		<td><input type="text" ng-model="n.hourlyRate"/></td>
	    		<td><button class="remove" ng-click="removeWalk($index)">-</button></td>
	    	</tr>
	    </table>
	    <h7><i>Total number of items in list is: {{dog.walks.walkArray.length}} </i></h7>
	    <br><br>
	    <!--  div class="pagination-div" ng-show="dog.walks.walkArray.length"> -->


		  <button type="button" ng-disabled="curPage == 0"
		 ng-click="curPage=curPage-1">PREV</button>

		
		<!--  <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>--> 
		
		<span>Page {{getCurPage() + 1}} of {{ numberOfPages() }}</span>
		
		 <button type="button"
		 ng-disabled="curPage >= dog.walks.walkArray.length/pageSize - 1"
		 ng-click="curPage = curPage+1">NEXT </button>


		<!-- </div>  -->
	    
	    <br><br>
	    
	    <button  class='btn btn-sm' ng-click="addNewWalk()">Add New Walk</button>
	    <button ng-show="hasUpdatedWalk()" class='btn btn-sm' ng-click="saveWalks()">Save Walks</button>
	
      
 </div>
 
 