<div class="container">
  <form ng-submit="login(username, password)">
    <div class="form-group">
      <label>Username</label>
      <input class="form-control" type="text" ng-model="username" ng-style="getTextColour()">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" ng-model="password" ng-style="getTextColour()">
    </div>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Login">
  </form>
  <p>
  <p>
  <br>
  <h7>Login Attempts: {{getFailedLoginAttempts()}}</h7>
</div>